.advantages.section {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
  }
}

.advantages__list {
  gap: 30px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantages__card {
  @media screen and (min-width: 768px) {
    max-width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: calc((100% - 90px) / 4);
  }
}

.advantages__card + .advantages__card {
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
}

.advantages__icon-block {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

// .advantages__icon {
//   text-align: center;
// }

.advantages__card-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__card-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
