.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-white-color);
  transform: translateX(100%);

  transition-property: transform, opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;

  &.is-open {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
  }

  &__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 55px 30px;
  }

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    padding: none;
    outline: none;
    background-color: var(--primary-white-color);
    fill: var(--primaty-text-color);
    cursor: pointer;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: auto;
  }

  &__nav-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--primaty-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__nav-link--current {
    color: var(--accent-color);
  }

  &__tel {
    margin-bottom: 32px;
    font-size: 25px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  &__mail {
    font-size: 25px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    padding-bottom: 64px;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__socials-list {
    display: flex;
  }

  &__socials-item {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    padding-right: 10px;
  }

  &__socials-border {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    padding-left: 10px;
  }
}
