.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;

  max-width: 450px;
  width: calc(100% - 30px);
  padding: 40px;
  // width: 528px;
  // height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal__close-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__header {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primaty-text-color);
}

// .modal__form {
//   margin: 0 40px;
// }

.modal__label {
  display: block;

  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.modal__input {
  padding: 11px 11px 11px 40px;
  // padding: 12px 12px 12px 42px;
  border: 0;

  outline: none;
  width: 100%;
  // width: 448px;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primaty-text-color);
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal__field:hover &,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.modal__field {
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;

  width: 18px;
  height: 18px;

  fill: var(--primaty-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal__field:hover &,
  .modal__input:focus + & {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.modal__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  // width: 448px;
  height: 120px;

  resize: none;
  outline: none;
  color: var(--primaty-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border: 1px solid var(--modal-input-border);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: var(--modal-placeholder);
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__checkbox-label {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;

  user-select: none;

  font-size: 14px;
  line-height: 1;

  color: #757575;
}

.modal__contract-conditions {
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.modal__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__custom-checkbox {
  display: inline-block;
  flex-shrink: 0;
  border-width: 2px;
  border-style: solid;
  border-color: var(--primaty-text-color);
  border-radius: 3px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal__checkbox:checked + & {
    background-color: var(--accent-color);
    border: 0;
  }
}

.button--modal {
  margin-top: 30px;

  display: block;
  margin: 30px auto 0 auto;
  padding-left: 32px;
  padding-right: 32px;

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}
