:root {
  --primaty-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --projects-border-color: #eeeeee;
  --header-border-color: #ececec;

  --hero-background-color: #2f303a;
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;

  --button-shadow-color: rgba(0, 0, 0, 0.15);

  --footer-placeholder: rgba(255, 255, 255, 0.6);
  --footer-input-border: rgba(255, 255, 255, 0.3);

  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --modal-placeholder: rgba(117, 117, 117, 0.5);
}
